html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #1F2037;
    color: white;
    width: 100%;
    padding: 10px;
}
.header_links {
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.link_item {
    padding: 5px;
}